In [1]:
# Import Data and format data 
import pandas as pd
import sqlite3 as sl
df = pd.read_csv('/Users/muraliparthasarathy/Documents/DataMining/DC_Crime_2015_LL.csv');
con = sl.connect('/Users/muraliparthasarathy/Documents/DataMining/dcCrimeData.db');
df.to_sql('dcCrimeData',con,schema='None',if_exists='append',index='true',index_label='None');
dfsql = pd.read_sql('select * from dcCrimeData',con);
dfsql['REPORT_DAT_FORMAT'] =  pd.to_datetime(dfsql['REPORT_DAT'])
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182465 entries, 0 to 182464
Data columns (total 22 columns):
true                    182465 non-null int64
REPORT_DAT              182465 non-null object
SHIFT                   182465 non-null object
OFFENSE                 182465 non-null object
METHOD                  182465 non-null object
BLOCK                   182465 non-null object
DISTRICT                182230 non-null float64
PSA                     182225 non-null float64
WARD                    182465 non-null int64
ANC                     182465 non-null object
NEIGHBORHOOD_CLUSTER    180380 non-null object
BLOCK_GROUP             181895 non-null object
CENSUS_TRACT            181895 non-null float64
VOTING_PRECINCT         182400 non-null object
CCN                     182465 non-null int64
XBLOCK                  182465 non-null float64
YBLOCK                  182465 non-null float64
START_DATE              182465 non-null object
END_DATE                181205 non-null object
Lat                     182465 non-null float64
Long                    182465 non-null float64
REPORT_DAT_FORMAT       182465 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(3), object(11)
memory usage: 30.6+ MB

In [2]:
# update Reporting Date for day, month, year 
grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[:2])
dfsql['REPORT_Month'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[3:5])
dfsql['REPORT_Day'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[6:11])
dfsql['REPORT_Year'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[11:13])
dfsql['REPORT_Hour'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[14:16])
dfsql['REPORT_MINUTES'] = grades

In [3]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182465 entries, 0 to 182464
Data columns (total 27 columns):
true                    182465 non-null int64
REPORT_DAT              182465 non-null object
SHIFT                   182465 non-null object
OFFENSE                 182465 non-null object
METHOD                  182465 non-null object
BLOCK                   182465 non-null object
DISTRICT                182230 non-null float64
PSA                     182225 non-null float64
WARD                    182465 non-null int64
ANC                     182465 non-null object
NEIGHBORHOOD_CLUSTER    180380 non-null object
BLOCK_GROUP             181895 non-null object
CENSUS_TRACT            181895 non-null float64
VOTING_PRECINCT         182400 non-null object
CCN                     182465 non-null int64
XBLOCK                  182465 non-null float64
YBLOCK                  182465 non-null float64
START_DATE              182465 non-null object
END_DATE                181205 non-null object
Lat                     182465 non-null float64
Long                    182465 non-null float64
REPORT_DAT_FORMAT       182465 non-null datetime64[ns]
REPORT_Month            182465 non-null object
REPORT_Day              182465 non-null object
REPORT_Year             182465 non-null object
REPORT_Hour             182465 non-null object
REPORT_MINUTES          182465 non-null object
dtypes: datetime64[ns](1), float64(7), int64(3), object(16)
memory usage: 37.6+ MB

In [4]:
dfsql['SHIFT'].unique()

array([u'DAY', u'EVENING', u'MIDNIGHT'], dtype=object)

In [5]:
 #Update Shift
    shift_num = []
for row in dfsql['SHIFT']:
    if row == 'DAY':
         shift_num.append(1)
    if row == 'EVENING':
         shift_num.append(2)
    if row == 'MIDNIGHT':
         shift_num.append(3)
            
dfsql['SHIFT_NUM'] = shift_num

In [7]:
dfsql['METHOD'].unique()

array([u'OTHERS', u'GUN', u'KNIFE'], dtype=object)

In [9]:
# Update Method
method_num = []
for row in dfsql['METHOD']:
    if row == 'OTHERS':
         method_num.append(1)
    if row == 'GUN':
         method_num.append(2)
    if row == 'KNIFE':
         method_num.append(3)
            
dfsql['METHOD_NUM'] = method_num

In [11]:
#update block 
block_num = []
for row in dfsql['BLOCK']:
    block = row[:2]
    if block.isdigit():
        block_num = block
    else:
        block_num = -9
dfsql['BLOCK_NUM'] = block_num

In [12]:
dfsql['ANC'].unique()

array([u'1B', u'1D', u'1A', u'1C', u'6E', u'4C', u'5E', u'2B', u'2D',
       u'2F', u'2C', u'2E', u'2A', u'3C', u'3E', u'3B', u'3D', u'3F',
       u'3G', u'4A', u'4B', u'4D', u'5A', u'5D', u'5C', u'5B', u'6A',
       u'6C', u'6B', u'6D', u'7D', u'7C', u'7E', u'7B', u'7F', u'8A',
       u'8B', u'8C', u'8D', u'8E'], dtype=object)