In [32]:
# Import Data and format data 
import pandas as pd
import sqlite3 as sl
df = pd.read_csv('/Users/muraliparthasarathy/Documents/DataMining/DC_Crime_2015_LL.csv');
con = sl.connect('/Users/muraliparthasarathy/Documents/DataMining/dcCrimeData.db');
df.to_sql('dcCrimeData',con,schema='None',if_exists='append',index='true',index_label='None');
dfsql = pd.read_sql('select * from dcCrimeData',con);
dfsql['REPORT_DAT_FORMAT'] =  pd.to_datetime(dfsql['REPORT_DAT'])
#dfsql.info()

In [4]:
# update Reporting Date for day, month, year 
grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[:2])
dfsql['REPORT_Month'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[3:5])
dfsql['REPORT_Day'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[6:11])
dfsql['REPORT_Year'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[11:13])
dfsql['REPORT_Hour'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[14:16])
dfsql['REPORT_MINUTES'] = grades

In [33]:
#dfsql.info()

In [4]:
dfsql['SHIFT'].unique()

array([u'DAY', u'EVENING', u'MIDNIGHT'], dtype=object)

In [34]:
 #Update Shift
    shift_num = []
for row in dfsql['SHIFT']:
    if row == 'DAY':
         shift_num.append(1)
    if row == 'EVENING':
         shift_num.append(2)
    if row == 'MIDNIGHT':
         shift_num.append(3)
            
dfsql['SHIFT_NUM'] = shift_num

IndentationError: unexpected indent (<ipython-input-34-3140f9760f10>, line 2)

In [7]:
dfsql['METHOD'].unique()

array([u'OTHERS', u'GUN', u'KNIFE'], dtype=object)

In [ ]:
# Update Method
method_num = []
for row in dfsql['METHOD']:
    if row == 'OTHERS':
         method_num.append(1)
    if row == 'GUN':
         method_num.append(2)
    if row == 'KNIFE':
         method_num.append(3)
            
dfsql['METHOD_NUM'] = method_num

In [ ]:
#update block 
block_num = []
for row in dfsql['BLOCK']:
    block = row[:2]
    if block.isdigit():
        block_num = block
    else:
        block_num = -9
dfsql['BLOCK_NUM'] = block_num

In [12]:
dfsql['ANC'].unique()

array([u'1B', u'1D', u'1A', u'1C', u'6E', u'4C', u'5E', u'2B', u'2D',
       u'2F', u'2C', u'2E', u'2A', u'3C', u'3E', u'3B', u'3D', u'3F',
       u'3G', u'4A', u'4B', u'4D', u'5A', u'5D', u'5C', u'5B', u'6A',
       u'6C', u'6B', u'6D', u'7D', u'7C', u'7E', u'7B', u'7F', u'8A',
       u'8B', u'8C', u'8D', u'8E'], dtype=object)

In [ ]:
anc_num = []
for row in dfsql['ANC']:
    sncblocknum = 0
    sncblock = row[1:2]
    if sncblock == 'A' :
        sncblocknum = 1
    if sncblock == 'B' :
        sncblocknum = 2
    if sncblock == 'C' :
        sncblocknum = 3
    if sncblock == 'D' :
        sncblocknum = 4
    if sncblock == 'E' :
        sncblocknum = 5
    if sncblock == 'F' :
        sncblocknum = 6
    if sncblock == 'G' :
        sncblocknum = 7
    anc_num.append(sncblocknum)
dfsql['ANC_NUM'] = anc_num

In [7]:
dfsql['NEIGHBORHOOD_CLUSTER'].unique()

array([u'Cluster 3', u'Cluster 2', u'Cluster 1', u'Cluster 6',
       u'Cluster 18', None, u'Cluster 21', u'Cluster 8', u'Cluster 4',
       u'Cluster 5', u'Cluster 7', u'Cluster 9', u'Cluster 15',
       u'Cluster 14', u'Cluster 11', u'Cluster 13', u'Cluster 12',
       u'Cluster 10', u'Cluster 17', u'Cluster 16', u'Cluster 19',
       u'Cluster 23', u'Cluster 22', u'Cluster 24', u'Cluster 20',
       u'Cluster 25', u'Cluster 26', u'Cluster 27', u'Cluster 33',
       u'Cluster 30', u'Cluster 31', u'Cluster 34', u'Cluster 32',
       u'Cluster 35', u'Cluster 29', u'Cluster 36', u'Cluster 39',
       u'Cluster 37', u'Cluster 38', u'Cluster 28'], dtype=object)

In [17]:
neighborhood_clus = []
for row in dfsql['NEIGHBORHOOD_CLUSTER']:
     
    if row == 'None':
        str = '0'
    else:
        str = row.replace('Cluster',' ')
   
    
    neighborhood_clus.append(str)
dfsql['NEIGHBORHOOD_CLUSTER_NUM'] = neighborhood_clus

AttributeError: 'NoneType' object has no attribute 'replace'

In [18]:
dfsql['NEIGHBORHOOD_CLUSTER'].fillna("Cluster0")

0          Cluster 3
1          Cluster 2
2          Cluster 2
3          Cluster 3
4          Cluster 2
5          Cluster 3
6          Cluster 2
7          Cluster 2
8          Cluster 3
9          Cluster 2
10         Cluster 2
11         Cluster 3
12         Cluster 2
13         Cluster 1
14         Cluster 2
15         Cluster 1
16         Cluster 2
17         Cluster 1
18         Cluster 2
19         Cluster 3
20         Cluster 2
21         Cluster 2
22         Cluster 2
23         Cluster 3
24         Cluster 2
25         Cluster 1
26         Cluster 1
27         Cluster 2
28         Cluster 2
29         Cluster 2
             ...
218928    Cluster 39
218929    Cluster 37
218930    Cluster 39
218931    Cluster 39
218932    Cluster 39
218933    Cluster 37
218934    Cluster 38
218935    Cluster 34
218936    Cluster 37
218937    Cluster 28
218938    Cluster 37
218939    Cluster 37
218940    Cluster 28
218941    Cluster 39
218942    Cluster 37
218943    Cluster 39
218944    Cluster 38
218945    Cluster 37
218946    Cluster 39
218947    Cluster 38
218948    Cluster 34
218949    Cluster 37
218950    Cluster 39
218951    Cluster 36
218952      Cluster0
218953    Cluster 36
218954    Cluster 36
218955    Cluster 38
218956      Cluster0
218957    Cluster 39
Name: NEIGHBORHOOD_CLUSTER, dtype: object

In [19]:
dfsql['NEIGHBORHOOD_CLUSTER'].unique()

array([u'Cluster 3', u'Cluster 2', u'Cluster 1', u'Cluster 6',
       u'Cluster 18', None, u'Cluster 21', u'Cluster 8', u'Cluster 4',
       u'Cluster 5', u'Cluster 7', u'Cluster 9', u'Cluster 15',
       u'Cluster 14', u'Cluster 11', u'Cluster 13', u'Cluster 12',
       u'Cluster 10', u'Cluster 17', u'Cluster 16', u'Cluster 19',
       u'Cluster 23', u'Cluster 22', u'Cluster 24', u'Cluster 20',
       u'Cluster 25', u'Cluster 26', u'Cluster 27', u'Cluster 33',
       u'Cluster 30', u'Cluster 31', u'Cluster 34', u'Cluster 32',
       u'Cluster 35', u'Cluster 29', u'Cluster 36', u'Cluster 39',
       u'Cluster 37', u'Cluster 38', u'Cluster 28'], dtype=object)

In [ ]:
#dfsql['NEIGHBORHOOD_CLUSTER'].isnull()

In [25]:
dfsql['NEIGHBORHOOD_CLUSTER']=dfsql['NEIGHBORHOOD_CLUSTER'].fillna('Cluster 0')

In [27]:
neighborhood_clus = []
for row in dfsql['NEIGHBORHOOD_CLUSTER']:
    str = row.replace('Cluster',' ')
    neighborhood_clus.append(str)
dfsql['NEIGHBORHOOD_CLUSTER_NUM'] = neighborhood_clus

In [28]:
dfsql['VOTING_PRECINCT'] = dfsql['VOTING_PRECINCT'].fillna('Precinct 0')

In [29]:
precint_clus = []
for row in dfsql['NEIGHBORHOOD_CLUSTER']:
    str = row.replace('Precinct',' ')
    precint_clus.append(str)
dfsql['VOTING_PRECINCT_NUM'] = precint_clus

In [30]:
dfsql['START_DATE_FORMAT'] =  pd.to_datetime(dfsql['START_DATE'])

In [31]:
dfsql['END_DATE_FORMAT'] =  pd.to_datetime(dfsql['END_DATE'])

In [36]:
#df['CRIMETIME'] = df['END_DATE_FORMAT'] - df['START_DATE_FORMAT']

In [39]:
#dfsql['END_DATE_FORMAT'].describe()

In [41]:
#dfsql['CRIMETIME'] = dfsql['END_DATE_FORMAT'] - dfsql['START_DATE_FORMAT']

In [44]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 22 columns):
true                    255451 non-null int64
REPORT_DAT              255451 non-null object
SHIFT                   255451 non-null object
OFFENSE                 255451 non-null object
METHOD                  255451 non-null object
BLOCK                   255451 non-null object
DISTRICT                255122 non-null float64
PSA                     255115 non-null float64
WARD                    255451 non-null int64
ANC                     255451 non-null object
NEIGHBORHOOD_CLUSTER    252532 non-null object
BLOCK_GROUP             254653 non-null object
CENSUS_TRACT            254653 non-null float64
VOTING_PRECINCT         255360 non-null object
CCN                     255451 non-null int64
XBLOCK                  255451 non-null float64
YBLOCK                  255451 non-null float64
START_DATE              255451 non-null object
END_DATE                253687 non-null object
Lat                     255451 non-null float64
Long                    255451 non-null float64
REPORT_DAT_FORMAT       255451 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(3), object(11)
memory usage: 42.9+ MB

In [45]:
dfsql['END_DATE_FORMAT'] =  pd.to_datetime(dfsql['END_DATE'])

In [48]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 23 columns):
true                    255451 non-null int64
REPORT_DAT              255451 non-null object
SHIFT                   255451 non-null object
OFFENSE                 255451 non-null object
METHOD                  255451 non-null object
BLOCK                   255451 non-null object
DISTRICT                255122 non-null float64
PSA                     255115 non-null float64
WARD                    255451 non-null int64
ANC                     255451 non-null object
NEIGHBORHOOD_CLUSTER    252532 non-null object
BLOCK_GROUP             254653 non-null object
CENSUS_TRACT            254653 non-null float64
VOTING_PRECINCT         255360 non-null object
CCN                     255451 non-null int64
XBLOCK                  255451 non-null float64
YBLOCK                  255451 non-null float64
START_DATE              255451 non-null object
END_DATE                253687 non-null object
Lat                     255451 non-null float64
Long                    255451 non-null float64
REPORT_DAT_FORMAT       255451 non-null datetime64[ns]
END_DATE_FORMAT         253687 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(7), int64(3), object(11)
memory usage: 44.8+ MB

In [49]:
dfsql['START_DATE_FORMAT'] =  pd.to_datetime(dfsql['START_DATE'])

In [50]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 24 columns):
true                    255451 non-null int64
REPORT_DAT              255451 non-null object
SHIFT                   255451 non-null object
OFFENSE                 255451 non-null object
METHOD                  255451 non-null object
BLOCK                   255451 non-null object
DISTRICT                255122 non-null float64
PSA                     255115 non-null float64
WARD                    255451 non-null int64
ANC                     255451 non-null object
NEIGHBORHOOD_CLUSTER    252532 non-null object
BLOCK_GROUP             254653 non-null object
CENSUS_TRACT            254653 non-null float64
VOTING_PRECINCT         255360 non-null object
CCN                     255451 non-null int64
XBLOCK                  255451 non-null float64
YBLOCK                  255451 non-null float64
START_DATE              255451 non-null object
END_DATE                253687 non-null object
Lat                     255451 non-null float64
Long                    255451 non-null float64
REPORT_DAT_FORMAT       255451 non-null datetime64[ns]
END_DATE_FORMAT         253687 non-null datetime64[ns]
START_DATE_FORMAT       255451 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(7), int64(3), object(11)
memory usage: 46.8+ MB

In [51]:
dfsql['CRIMETIME'] = dfsql['END_DATE_FORMAT'] - dfsql['START_DATE_FORMAT']

In [52]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 25 columns):
true                    255451 non-null int64
REPORT_DAT              255451 non-null object
SHIFT                   255451 non-null object
OFFENSE                 255451 non-null object
METHOD                  255451 non-null object
BLOCK                   255451 non-null object
DISTRICT                255122 non-null float64
PSA                     255115 non-null float64
WARD                    255451 non-null int64
ANC                     255451 non-null object
NEIGHBORHOOD_CLUSTER    252532 non-null object
BLOCK_GROUP             254653 non-null object
CENSUS_TRACT            254653 non-null float64
VOTING_PRECINCT         255360 non-null object
CCN                     255451 non-null int64
XBLOCK                  255451 non-null float64
YBLOCK                  255451 non-null float64
START_DATE              255451 non-null object
END_DATE                253687 non-null object
Lat                     255451 non-null float64
Long                    255451 non-null float64
REPORT_DAT_FORMAT       255451 non-null datetime64[ns]
END_DATE_FORMAT         253687 non-null datetime64[ns]
START_DATE_FORMAT       255451 non-null datetime64[ns]
CRIMETIME               253687 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(7), int64(3), object(11), timedelta64[ns](1)
memory usage: 48.7+ MB

In [53]:
dfsql['CRIMETIME']

0         31 days 00:03:00
1          2 days 01:08:00
2          0 days 00:10:00
3         16 days 18:30:00
4          0 days 19:59:00
5          0 days 21:00:00
6          0 days 00:19:00
7          1 days 00:30:00
8          0 days 00:01:00
9          0 days 03:30:00
10         0 days 09:30:00
11         0 days 21:00:00
12         0 days 00:05:00
13         0 days 00:01:00
14         0 days 00:02:00
15         0 days 00:01:00
16         0 days 00:11:00
17        29 days 05:08:00
18         0 days 00:03:00
19         0 days 00:02:00
20         0 days 10:15:00
21         0 days 01:28:00
22         0 days 00:15:00
23         0 days 00:05:00
24         0 days 00:03:00
25         0 days 00:06:00
26         0 days 00:15:00
27         0 days 04:00:00
28         0 days 03:30:00
29         0 days 01:10:00
                ...
255421     0 days 00:01:00
255422     0 days 02:50:00
255423     0 days 00:20:00
255424     0 days 00:03:00
255425     0 days 00:03:00
255426     0 days 02:21:00
255427     0 days 12:15:00
255428     0 days 02:04:00
255429     0 days 01:00:00
255430     0 days 20:20:00
255431     0 days 00:46:00
255432     0 days 00:05:00
255433     0 days 03:00:00
255434     0 days 01:32:00
255435     0 days 00:02:00
255436     0 days 00:40:00
255437     0 days 00:02:00
255438                 NaT
255439     0 days 00:12:00
255440     0 days 01:04:00
255441     2 days 00:00:00
255442     0 days 00:16:00
255443     0 days 00:02:00
255444     0 days 08:00:00
255445   615 days 09:41:00
255446     0 days 00:33:00
255447     0 days 09:00:00
255448     0 days 00:07:00
255449     0 days 00:15:00
255450     0 days 00:10:00
Name: CRIMETIME, dtype: timedelta64[ns]

In [54]:
dfsql['INVESTIGATION_TIME'] = dfsql['END_DATE_FORMAT'] - dfsql['REPORT_DAT_FORMAT']

In [55]:
dfsql['INVESTIGATION_TIME']

0        -185 days +23:58:00
1         -73 days +02:08:00
2          -1 days +22:00:00
3          -1 days +22:46:00
4          -1 days +23:58:00
5          -1 days +22:22:00
6          -1 days +23:20:00
7          -1 days +02:30:00
8          -1 days +23:12:00
9          -1 days +23:47:00
10         -1 days +23:33:00
11         -1 days +21:55:00
12         -1 days +23:20:00
13         -1 days +23:31:00
14           0 days 21:38:00
15         -1 days +23:08:00
16         -1 days +23:15:00
17         -1 days +23:10:00
18         -1 days +23:47:00
19         -1 days +23:56:00
20         -1 days +23:26:00
21         -1 days +23:28:00
22         -1 days +21:22:00
23         -1 days +23:59:00
24         -1 days +21:38:00
25         -1 days +22:55:00
26         -1 days +23:50:00
27         -1 days +22:52:00
28         -1 days +08:33:00
29         -1 days +19:53:00
                 ...
255421    -78 days +02:38:00
255422    -15 days +00:47:00
255423     -7 days +00:36:00
255424     -1 days +23:47:00
255425     -1 days +23:20:00
255426     -1 days +22:13:00
255427     -1 days +22:18:00
255428     -1 days +23:46:00
255429     -1 days +21:42:00
255430     -1 days +23:50:00
255431     -1 days +18:19:00
255432     -1 days +23:26:00
255433     -1 days +10:53:00
255434       0 days 00:00:00
255435     -1 days +22:22:00
255436     -1 days +23:26:00
255437     -1 days +20:07:00
255438                   NaT
255439     -1 days +21:18:00
255440     -1 days +23:56:00
255441     -1 days +20:35:00
255442     -1 days +21:09:00
255443     -1 days +22:41:00
255444     -5 days +20:56:00
255445     -2 days +15:32:00
255446     -1 days +23:45:00
255447     -1 days +18:49:00
255448     -1 days +21:19:00
255449     -1 days +22:00:00
255450     -1 days +21:47:00
Name: INVESTIGATION_TIME, dtype: timedelta64[ns]

In [59]:
dfsql['INVESTIGATION_TIME'] = dfsql['REPORT_DAT_FORMAT'] - dfsql['END_DATE_FORMAT']

In [60]:
dfsql['INVESTIGATION_TIME']

0        184 days 00:02:00
1         72 days 21:52:00
2          0 days 02:00:00
3          0 days 01:14:00
4          0 days 00:02:00
5          0 days 01:38:00
6          0 days 00:40:00
7          0 days 21:30:00
8          0 days 00:48:00
9          0 days 00:13:00
10         0 days 00:27:00
11         0 days 02:05:00
12         0 days 00:40:00
13         0 days 00:29:00
14       -1 days +02:22:00
15         0 days 00:52:00
16         0 days 00:45:00
17         0 days 00:50:00
18         0 days 00:13:00
19         0 days 00:04:00
20         0 days 00:34:00
21         0 days 00:32:00
22         0 days 02:38:00
23         0 days 00:01:00
24         0 days 02:22:00
25         0 days 01:05:00
26         0 days 00:10:00
27         0 days 01:08:00
28         0 days 15:27:00
29         0 days 04:07:00
                ...
255421    77 days 21:22:00
255422    14 days 23:13:00
255423     6 days 23:24:00
255424     0 days 00:13:00
255425     0 days 00:40:00
255426     0 days 01:47:00
255427     0 days 01:42:00
255428     0 days 00:14:00
255429     0 days 02:18:00
255430     0 days 00:10:00
255431     0 days 05:41:00
255432     0 days 00:34:00
255433     0 days 13:07:00
255434     0 days 00:00:00
255435     0 days 01:38:00
255436     0 days 00:34:00
255437     0 days 03:53:00
255438                 NaT
255439     0 days 02:42:00
255440     0 days 00:04:00
255441     0 days 03:25:00
255442     0 days 02:51:00
255443     0 days 01:19:00
255444     4 days 03:04:00
255445     1 days 08:28:00
255446     0 days 00:15:00
255447     0 days 05:11:00
255448     0 days 02:41:00
255449     0 days 02:00:00
255450     0 days 02:13:00
Name: INVESTIGATION_TIME, dtype: timedelta64[ns]