In [32]:
# Import Data and format data 
import pandas as pd
import sqlite3 as sl
df = pd.read_csv('/Users/muraliparthasarathy/Documents/DataMining/DC_Crime_2015_LL.csv');
con = sl.connect('/Users/muraliparthasarathy/Documents/DataMining/dcCrimeData.db');
df.to_sql('dcCrimeData',con,schema='None',if_exists='append',index='true',index_label='None');
dfsql = pd.read_sql('select * from dcCrimeData',con);
dfsql['REPORT_DAT_FORMAT'] =  pd.to_datetime(dfsql['REPORT_DAT'])
#dfsql.info()

In [147]:
# update Reporting Date for day, month, year 
grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[:2])
dfsql['REPORT_Month'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[3:5])
dfsql['REPORT_Day'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[6:11])
dfsql['REPORT_Year'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[11:13])
dfsql['REPORT_Hour'] = grades

grades = []
for row in dfsql['REPORT_DAT']:
    grades.append(row[14:16])
dfsql['REPORT_MINUTES'] = grades

In [33]:
#dfsql.info()

In [4]:
dfsql['SHIFT'].unique()

array([u'DAY', u'EVENING', u'MIDNIGHT'], dtype=object)

In [89]:
 #Update Shift
shift_num = []
for row in dfsql['SHIFT']:
    if row == 'DAY':
         shift_num.append(1)
    if row == 'EVENING':
         shift_num.append(2)
    if row == 'MIDNIGHT':
         shift_num.append(3)
            
dfsql['SHIFT_NUM'] = shift_num

In [7]:
dfsql['METHOD'].unique()

array([u'OTHERS', u'GUN', u'KNIFE'], dtype=object)

In [ ]:
# Update Method
method_num = []
for row in dfsql['METHOD']:
    if row == 'OTHERS':
         method_num.append(1)
    if row == 'GUN':
         method_num.append(2)
    if row == 'KNIFE':
         method_num.append(3)
            
dfsql['METHOD_NUM'] = method_num

In [127]:
#update block 
block_num = []
for row in dfsql['BLOCK']:
    block = row[:2]
    if block.isdigit():
        block_num = block
    else:
        block_num = -9
dfsql['BLOCK_NUM'] = block_num

dfsql['BLOCK_NUM']

0         38
1         38
2         38
3         38
4         38
5         38
6         38
7         38
8         38
9         38
10        38
11        38
12        38
13        38
14        38
15        38
16        38
17        38
18        38
19        38
20        38
21        38
22        38
23        38
24        38
25        38
26        38
27        38
28        38
29        38
          ..
255421    38
255422    38
255423    38
255424    38
255425    38
255426    38
255427    38
255428    38
255429    38
255430    38
255431    38
255432    38
255433    38
255434    38
255435    38
255436    38
255437    38
255438    38
255439    38
255440    38
255441    38
255442    38
255443    38
255444    38
255445    38
255446    38
255447    38
255448    38
255449    38
255450    38
Name: BLOCK_NUM, dtype: object

In [12]:
dfsql['ANC'].unique()

array([u'1B', u'1D', u'1A', u'1C', u'6E', u'4C', u'5E', u'2B', u'2D',
       u'2F', u'2C', u'2E', u'2A', u'3C', u'3E', u'3B', u'3D', u'3F',
       u'3G', u'4A', u'4B', u'4D', u'5A', u'5D', u'5C', u'5B', u'6A',
       u'6C', u'6B', u'6D', u'7D', u'7C', u'7E', u'7B', u'7F', u'8A',
       u'8B', u'8C', u'8D', u'8E'], dtype=object)

In [129]:
anc_num = []
for row in dfsql['ANC']:
    sncblocknum = 0
    sncblock = row[1:2]
    if sncblock == 'A' :
        sncblocknum = 1
    if sncblock == 'B' :
        sncblocknum = 2
    if sncblock == 'C' :
        sncblocknum = 3
    if sncblock == 'D' :
        sncblocknum = 4
    if sncblock == 'E' :
        sncblocknum = 5
    if sncblock == 'F' :
        sncblocknum = 6
    if sncblock == 'G' :
        sncblocknum = 7
    anc_num.append(sncblocknum)
dfsql['ANC_NUM'] = anc_num

dfsql['ANC_NUM']

0         2
1         4
2         1
3         2
4         1
5         2
6         2
7         4
8         2
9         2
10        1
11        2
12        4
13        3
14        1
15        3
16        2
17        3
18        1
19        2
20        1
21        1
22        1
23        2
24        1
25        3
26        3
27        1
28        1
29        1
         ..
255421    4
255422    1
255423    4
255424    5
255425    3
255426    1
255427    2
255428    1
255429    3
255430    2
255431    3
255432    2
255433    1
255434    5
255435    1
255436    3
255437    5
255438    2
255439    3
255440    5
255441    1
255442    1
255443    4
255444    2
255445    4
255446    2
255447    2
255448    5
255449    3
255450    4
Name: ANC_NUM, dtype: int64

In [7]:
dfsql['NEIGHBORHOOD_CLUSTER'].unique()

array([u'Cluster 3', u'Cluster 2', u'Cluster 1', u'Cluster 6',
       u'Cluster 18', None, u'Cluster 21', u'Cluster 8', u'Cluster 4',
       u'Cluster 5', u'Cluster 7', u'Cluster 9', u'Cluster 15',
       u'Cluster 14', u'Cluster 11', u'Cluster 13', u'Cluster 12',
       u'Cluster 10', u'Cluster 17', u'Cluster 16', u'Cluster 19',
       u'Cluster 23', u'Cluster 22', u'Cluster 24', u'Cluster 20',
       u'Cluster 25', u'Cluster 26', u'Cluster 27', u'Cluster 33',
       u'Cluster 30', u'Cluster 31', u'Cluster 34', u'Cluster 32',
       u'Cluster 35', u'Cluster 29', u'Cluster 36', u'Cluster 39',
       u'Cluster 37', u'Cluster 38', u'Cluster 28'], dtype=object)

In [19]:
dfsql['NEIGHBORHOOD_CLUSTER'].unique()

array([u'Cluster 3', u'Cluster 2', u'Cluster 1', u'Cluster 6',
       u'Cluster 18', None, u'Cluster 21', u'Cluster 8', u'Cluster 4',
       u'Cluster 5', u'Cluster 7', u'Cluster 9', u'Cluster 15',
       u'Cluster 14', u'Cluster 11', u'Cluster 13', u'Cluster 12',
       u'Cluster 10', u'Cluster 17', u'Cluster 16', u'Cluster 19',
       u'Cluster 23', u'Cluster 22', u'Cluster 24', u'Cluster 20',
       u'Cluster 25', u'Cluster 26', u'Cluster 27', u'Cluster 33',
       u'Cluster 30', u'Cluster 31', u'Cluster 34', u'Cluster 32',
       u'Cluster 35', u'Cluster 29', u'Cluster 36', u'Cluster 39',
       u'Cluster 37', u'Cluster 38', u'Cluster 28'], dtype=object)

In [ ]:
#dfsql['NEIGHBORHOOD_CLUSTER'].isnull()

In [130]:
dfsql['NEIGHBORHOOD_CLUSTER']=dfsql['NEIGHBORHOOD_CLUSTER'].fillna('Cluster 0')

In [131]:
neighborhood_clus = []
for row in dfsql['NEIGHBORHOOD_CLUSTER']:
    str = row.replace('Cluster',' ')
    neighborhood_clus.append(str)
dfsql['NEIGHBORHOOD_CLUSTER_NUM'] = neighborhood_clus

In [132]:
dfsql['VOTING_PRECINCT'] = dfsql['VOTING_PRECINCT'].fillna('Precinct 0')

In [133]:
precint_clus = []
for row in dfsql['VOTING_PRECINCT']:
    str = row.replace('Precinct',' ')
    precint_clus.append(str)
dfsql['VOTING_PRECINCT_NUM'] = precint_clus

In [30]:
dfsql['START_DATE_FORMAT'] =  pd.to_datetime(dfsql['START_DATE'])

In [31]:
dfsql['END_DATE_FORMAT'] =  pd.to_datetime(dfsql['END_DATE'])

In [36]:
#df['CRIMETIME'] = df['END_DATE_FORMAT'] - df['START_DATE_FORMAT']

In [39]:
#dfsql['END_DATE_FORMAT'].describe()

In [41]:
#dfsql['CRIMETIME'] = dfsql['END_DATE_FORMAT'] - dfsql['START_DATE_FORMAT']

In [91]:
#dfsql.info()

In [45]:
dfsql['END_DATE_FORMAT'] =  pd.to_datetime(dfsql['END_DATE'])

In [92]:
#dfsql.info()

In [49]:
dfsql['START_DATE_FORMAT'] =  pd.to_datetime(dfsql['START_DATE'])

In [93]:
#dfsql.info()

In [67]:
dfsql['CRIMETIME_REP'] = dfsql['END_DATE_FORMAT'] - dfsql['START_DATE_FORMAT']

In [94]:
#dfsql.info()

In [95]:
#dfsql['CRIMETIME']

In [54]:
dfsql['INVESTIGATION_TIME'] = dfsql['END_DATE_FORMAT'] - dfsql['REPORT_DAT_FORMAT']

In [96]:
#dfsql['INVESTIGATION_TIME']

In [82]:
dfsql['INVESTIGATION_TIME'] = dfsql['REPORT_DAT_FORMAT'] - dfsql['END_DATE_FORMAT']

In [97]:
#dfsql['INVESTIGATION_TIME']

In [98]:
#dfsql.info()

In [62]:
dfsql['INVESTIGATION_TIME'] = dfsql['INVESTIGATION_TIME'].astype('timedelta64[D]')

In [99]:
#dfsql['INVESTIGATION_TIME']

In [100]:
#dfsql['CRIMETIME']

In [101]:
#dfsql.info()

In [102]:
#dfsql['CRIMETIME_REP']

In [103]:
#dfsql['CRIMETIME']

In [77]:
dfsql['CRIMETIME'] = dfsql['CRIMETIME_REP'].astype('timedelta64[s]')

In [104]:
#dfsql['CRIMETIME']

In [105]:
#dfsql.info()

In [106]:
#dfsql['INVESTIGATION_TIME']

In [107]:
#dfsql['INVESTIGATION_TIME']

In [86]:
dfsql['INVESTIGATION_TIME_MIN'] = dfsql['INVESTIGATION_TIME'].astype('timedelta64[s]')

In [108]:
#dfsql['INVESTIGATION_TIME_MIN']

In [109]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 29 columns):
true                      255451 non-null int64
REPORT_DAT                255451 non-null object
SHIFT                     255451 non-null object
OFFENSE                   255451 non-null object
METHOD                    255451 non-null object
BLOCK                     255451 non-null object
DISTRICT                  255122 non-null float64
PSA                       255115 non-null float64
WARD                      255451 non-null int64
ANC                       255451 non-null object
NEIGHBORHOOD_CLUSTER      252532 non-null object
BLOCK_GROUP               254653 non-null object
CENSUS_TRACT              254653 non-null float64
VOTING_PRECINCT           255360 non-null object
CCN                       255451 non-null int64
XBLOCK                    255451 non-null float64
YBLOCK                    255451 non-null float64
START_DATE                255451 non-null object
END_DATE                  253687 non-null object
Lat                       255451 non-null float64
Long                      255451 non-null float64
REPORT_DAT_FORMAT         255451 non-null datetime64[ns]
END_DATE_FORMAT           253687 non-null datetime64[ns]
START_DATE_FORMAT         255451 non-null datetime64[ns]
CRIMETIME                 253687 non-null float64
INVESTIGATION_TIME        253687 non-null timedelta64[ns]
CRIMETIME_REP             253687 non-null timedelta64[ns]
INVESTIGATION_TIME_MIN    253687 non-null float64
SHIFT_NUM                 255451 non-null int64
dtypes: datetime64[ns](3), float64(9), int64(4), object(11), timedelta64[ns](2)
memory usage: 56.5+ MB

In [110]:
dfsql.describe()

/Users/muraliparthasarathy/anaconda2/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,true,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,Lat,Long,CRIMETIME,INVESTIGATION_TIME,CRIMETIME_REP,INVESTIGATION_TIME_MIN,SHIFT_NUM
count,255451.000000,255122.000000,255115.000000,255451.000000,254653.000000,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000,2.536870e+05,253687,253687,2.536870e+05,255451.000000
mean,18246.000000,3.697196,374.298395,4.421259,6211.275791,1.511937e+07,399301.346694,137698.576414,38.907140,-77.008062,1.833292e+05,1 days 18:24:22.580502,2 days 02:55:29.244226,1.526626e+05,1.817965
std,10534.642303,1.947415,194.521713,2.339243,3146.180472,1.087812e+05,3113.078782,3424.463530,0.030848,0.035893,4.452180e+06,43 days 06:57:43.341299,51 days 12:43:00.142051,3.740263e+06,0.727343
min,0.000000,1.000000,101.000000,1.000000,100.000000,6.155556e+06,390147.000000,127300.000000,38.813470,-77.113640,-7.740000e+04,-93 days +01:05:00,-1 days +02:30:00,-8.031300e+06,1.000000
25%,9123.000000,NaN,NaN,2.000000,NaN,1.505885e+07,397228.000000,136027.000000,38.892080,-77.031960,NaN,0 days 00:16:00,0 days 00:06:00,NaN,1.000000
50%,18246.000000,NaN,NaN,5.000000,NaN,1.511063e+07,398878.000000,137622.530000,38.906460,-77.012930,NaN,0 days 01:06:00,0 days 00:51:00,NaN,2.000000
75%,27369.000000,NaN,NaN,6.000000,NaN,1.516497e+07,401257.000000,139839.000000,38.926420,-76.985510,NaN,0 days 03:25:00,0 days 07:00:00,NaN,2.000000
max,36492.000000,7.000000,708.000000,8.000000,11100.000000,1.619697e+07,407806.000000,147292.000000,38.993560,-76.910020,4.733352e+08,6385 days 20:01:00,5478 days 10:00:00,5.517361e+08,3.000000

In [111]:
dfsql['DISTRICT']=dfsql['DISTRICT'].fillna(0)

In [112]:
dfsql['PSA']=dfsql['PSA'].fillna(194)

In [113]:
dfsql['WARD']=dfsql['WARD'].fillna(1)

In [114]:
dfsql['CENSUS_TRACT'] = dfsql['CENSUS_TRACT'].fillna(6211)

dfsql['CRIME_TIME'] = dfsql['CRIME_TIME'].fillna(5)

In [115]:
dfsql['INVESTIGATION_TIME'] = dfsql['INVESTIGATION_TIME'].fillna(0)

In [116]:
dfsql.describe()

,true,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,Lat,Long,CRIMETIME,INVESTIGATION_TIME,CRIMETIME_REP,INVESTIGATION_TIME_MIN,SHIFT_NUM
count,255451.000000,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000,2.536870e+05,255451,253687,2.536870e+05,255451.000000
mean,18246.000000,3.692434,374.061245,4.421259,6211.274929,1.511937e+07,399301.346694,137698.576414,38.907140,-77.008062,1.833292e+05,1 days 18:06:48.379141,2 days 02:55:29.244226,1.526626e+05,1.817965
std,10534.642303,1.950673,194.503544,2.339243,3141.262453,1.087812e+05,3113.078782,3424.463530,0.030848,0.035893,4.452180e+06,43 days 03:22:28.288025,51 days 12:43:00.142051,3.740263e+06,0.727343
min,0.000000,0.000000,101.000000,1.000000,100.000000,6.155556e+06,390147.000000,127300.000000,38.813470,-77.113640,-7.740000e+04,-93 days +01:05:00,-1 days +02:30:00,-8.031300e+06,1.000000
25%,9123.000000,2.000000,206.000000,2.000000,3500.000000,1.505885e+07,397228.000000,136027.000000,38.892080,-77.031960,NaN,0 days 00:15:00,0 days 00:06:00,NaN,1.000000
50%,18246.000000,4.000000,401.000000,5.000000,7000.000000,1.511063e+07,398878.000000,137622.530000,38.906460,-77.012930,NaN,0 days 01:05:00,0 days 00:51:00,NaN,2.000000
75%,27369.000000,5.000000,506.000000,6.000000,8904.000000,1.516497e+07,401257.000000,139839.000000,38.926420,-76.985510,NaN,0 days 03:22:00,0 days 07:00:00,NaN,2.000000
max,36492.000000,7.000000,708.000000,8.000000,11100.000000,1.619697e+07,407806.000000,147292.000000,38.993560,-76.910020,4.733352e+08,6385 days 20:01:00,5478 days 10:00:00,5.517361e+08,3.000000

In [117]:
dfsql.describe()

,true,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,Lat,Long,CRIMETIME,INVESTIGATION_TIME,CRIMETIME_REP,INVESTIGATION_TIME_MIN,SHIFT_NUM
count,255451.000000,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000,2.536870e+05,255451,253687,2.536870e+05,255451.000000
mean,18246.000000,3.692434,374.061245,4.421259,6211.274929,1.511937e+07,399301.346694,137698.576414,38.907140,-77.008062,1.833292e+05,1 days 18:06:48.379141,2 days 02:55:29.244226,1.526626e+05,1.817965
std,10534.642303,1.950673,194.503544,2.339243,3141.262453,1.087812e+05,3113.078782,3424.463530,0.030848,0.035893,4.452180e+06,43 days 03:22:28.288025,51 days 12:43:00.142051,3.740263e+06,0.727343
min,0.000000,0.000000,101.000000,1.000000,100.000000,6.155556e+06,390147.000000,127300.000000,38.813470,-77.113640,-7.740000e+04,-93 days +01:05:00,-1 days +02:30:00,-8.031300e+06,1.000000
25%,9123.000000,2.000000,206.000000,2.000000,3500.000000,1.505885e+07,397228.000000,136027.000000,38.892080,-77.031960,NaN,0 days 00:15:00,0 days 00:06:00,NaN,1.000000
50%,18246.000000,4.000000,401.000000,5.000000,7000.000000,1.511063e+07,398878.000000,137622.530000,38.906460,-77.012930,NaN,0 days 01:05:00,0 days 00:51:00,NaN,2.000000
75%,27369.000000,5.000000,506.000000,6.000000,8904.000000,1.516497e+07,401257.000000,139839.000000,38.926420,-76.985510,NaN,0 days 03:22:00,0 days 07:00:00,NaN,2.000000
max,36492.000000,7.000000,708.000000,8.000000,11100.000000,1.619697e+07,407806.000000,147292.000000,38.993560,-76.910020,4.733352e+08,6385 days 20:01:00,5478 days 10:00:00,5.517361e+08,3.000000

In [118]:
dfsql['CRIMETIME'].isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
255421    False
255422    False
255423    False
255424    False
255425    False
255426    False
255427    False
255428    False
255429    False
255430    False
255431    False
255432    False
255433    False
255434    False
255435    False
255436    False
255437    False
255438     True
255439    False
255440    False
255441    False
255442    False
255443    False
255444    False
255445    False
255446    False
255447    False
255448    False
255449    False
255450    False
Name: CRIMETIME, dtype: bool

In [119]:
dfsql['CRIMETIME'] = dfsql['CRIMETIME'].fillna(10)

In [120]:
dfsql.describe()

,true,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,Lat,Long,CRIMETIME,INVESTIGATION_TIME,CRIMETIME_REP,INVESTIGATION_TIME_MIN,SHIFT_NUM
count,255451.000000,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451,253687,2.536870e+05,255451.000000
mean,18246.000000,3.692434,374.061245,4.421259,6211.274929,1.511937e+07,399301.346694,137698.576414,38.907140,-77.008062,1.820633e+05,1 days 18:06:48.379141,2 days 02:55:29.244226,1.526626e+05,1.817965
std,10534.642303,1.950673,194.503544,2.339243,3141.262453,1.087812e+05,3113.078782,3424.463530,0.030848,0.035893,4.436807e+06,43 days 03:22:28.288025,51 days 12:43:00.142051,3.740263e+06,0.727343
min,0.000000,0.000000,101.000000,1.000000,100.000000,6.155556e+06,390147.000000,127300.000000,38.813470,-77.113640,-7.740000e+04,-93 days +01:05:00,-1 days +02:30:00,-8.031300e+06,1.000000
25%,9123.000000,2.000000,206.000000,2.000000,3500.000000,1.505885e+07,397228.000000,136027.000000,38.892080,-77.031960,3.600000e+02,0 days 00:15:00,0 days 00:06:00,NaN,1.000000
50%,18246.000000,4.000000,401.000000,5.000000,7000.000000,1.511063e+07,398878.000000,137622.530000,38.906460,-77.012930,3.000000e+03,0 days 01:05:00,0 days 00:51:00,NaN,2.000000
75%,27369.000000,5.000000,506.000000,6.000000,8904.000000,1.516497e+07,401257.000000,139839.000000,38.926420,-76.985510,2.520000e+04,0 days 03:22:00,0 days 07:00:00,NaN,2.000000
max,36492.000000,7.000000,708.000000,8.000000,11100.000000,1.619697e+07,407806.000000,147292.000000,38.993560,-76.910020,4.733352e+08,6385 days 20:01:00,5478 days 10:00:00,5.517361e+08,3.000000

In [121]:
dfsql['INVESTIGATION_TIME_MIN'] = dfsql['INVESTIGATION_TIME_MIN'].fillna(10)

In [122]:
dfsql.describe()

,true,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,Lat,Long,CRIMETIME,INVESTIGATION_TIME,CRIMETIME_REP,INVESTIGATION_TIME_MIN,SHIFT_NUM
count,255451.000000,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451,253687,2.554510e+05,255451.000000
mean,18246.000000,3.692434,374.061245,4.421259,6211.274929,1.511937e+07,399301.346694,137698.576414,38.907140,-77.008062,1.820633e+05,1 days 18:06:48.379141,2 days 02:55:29.244226,1.516084e+05,1.817965
std,10534.642303,1.950673,194.503544,2.339243,3141.262453,1.087812e+05,3113.078782,3424.463530,0.030848,0.035893,4.436807e+06,43 days 03:22:28.288025,51 days 12:43:00.142051,3.727348e+06,0.727343
min,0.000000,0.000000,101.000000,1.000000,100.000000,6.155556e+06,390147.000000,127300.000000,38.813470,-77.113640,-7.740000e+04,-93 days +01:05:00,-1 days +02:30:00,-8.031300e+06,1.000000
25%,9123.000000,2.000000,206.000000,2.000000,3500.000000,1.505885e+07,397228.000000,136027.000000,38.892080,-77.031960,3.600000e+02,0 days 00:15:00,0 days 00:06:00,9.000000e+02,1.000000
50%,18246.000000,4.000000,401.000000,5.000000,7000.000000,1.511063e+07,398878.000000,137622.530000,38.906460,-77.012930,3.000000e+03,0 days 01:05:00,0 days 00:51:00,3.900000e+03,2.000000
75%,27369.000000,5.000000,506.000000,6.000000,8904.000000,1.516497e+07,401257.000000,139839.000000,38.926420,-76.985510,2.520000e+04,0 days 03:22:00,0 days 07:00:00,1.212000e+04,2.000000
max,36492.000000,7.000000,708.000000,8.000000,11100.000000,1.619697e+07,407806.000000,147292.000000,38.993560,-76.910020,4.733352e+08,6385 days 20:01:00,5478 days 10:00:00,5.517361e+08,3.000000

In [125]:
con = sl.connect('/Users/muraliparthasarathy/Documents/DataMining/dcCrimeDatacleaned.db');
dfsql.to_sql('dcCrimeDataclean',con,schema='None',if_exists='append',index='true',index_label='None');

OperationalError: duplicate column name: true

In [124]:
dfsql.to_csv('/Users/muraliparthasarathy/Documents/DataMining/lab1/MSDS7331_Project_DC/data/MuraliDataClean.csv')

In [134]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 33 columns):
true                        255451 non-null int64
REPORT_DAT                  255451 non-null object
SHIFT                       255451 non-null object
OFFENSE                     255451 non-null object
METHOD                      255451 non-null object
BLOCK                       255451 non-null object
DISTRICT                    255451 non-null float64
PSA                         255451 non-null float64
WARD                        255451 non-null int64
ANC                         255451 non-null object
NEIGHBORHOOD_CLUSTER        255451 non-null object
BLOCK_GROUP                 254653 non-null object
CENSUS_TRACT                255451 non-null float64
VOTING_PRECINCT             255451 non-null object
CCN                         255451 non-null int64
XBLOCK                      255451 non-null float64
YBLOCK                      255451 non-null float64
START_DATE                  255451 non-null object
END_DATE                    253687 non-null object
Lat                         255451 non-null float64
Long                        255451 non-null float64
REPORT_DAT_FORMAT           255451 non-null datetime64[ns]
END_DATE_FORMAT             253687 non-null datetime64[ns]
START_DATE_FORMAT           255451 non-null datetime64[ns]
CRIMETIME                   255451 non-null float64
INVESTIGATION_TIME          255451 non-null timedelta64[ns]
CRIMETIME_REP               253687 non-null timedelta64[ns]
INVESTIGATION_TIME_MIN      255451 non-null float64
SHIFT_NUM                   255451 non-null int64
BLOCK_NUM                   255451 non-null object
ANC_NUM                     255451 non-null int64
NEIGHBORHOOD_CLUSTER_NUM    255451 non-null object
VOTING_PRECINCT_NUM         255451 non-null object
dtypes: datetime64[ns](3), float64(9), int64(5), object(14), timedelta64[ns](2)
memory usage: 64.3+ MB

In [135]:
dfsql['VOTING_PRECINCT_NUM']

0            22
1            40
2            39
3            37
4            39
5            37
6            23
7            40
8            22
9            36
10           38
11           22
12           40
13           35
14           42
15           39
16           23
17           35
18           38
19           37
20           42
21           41
22           39
23           22
24           36
25           25
26           25
27           38
28           39
29           36
          ...
255421      125
255422      119
255423      125
255424      125
255425      124
255426      119
255427      116
255428      114
255429      119
255430      114
255431      118
255432      118
255433      114
255434      121
255435      119
255436      124
255437      116
255438      118
255439      120
255440      117
255441      140
255442      119
255443      125
255444      115
255445      126
255446      115
255447      134
255448      116
255449      123
255450      124
Name: VOTING_PRECINCT_NUM, dtype: object

In [136]:
dfsql.describe()

,true,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,Lat,Long,CRIMETIME,INVESTIGATION_TIME,CRIMETIME_REP,INVESTIGATION_TIME_MIN,SHIFT_NUM,ANC_NUM
count,255451.000000,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451,253687,2.554510e+05,255451.000000,255451.000000
mean,18246.000000,3.692434,374.061245,4.421259,6211.274929,1.511937e+07,399301.346694,137698.576414,38.907140,-77.008062,1.820633e+05,1 days 18:06:48.379141,2 days 02:55:29.244226,1.516084e+05,1.817965,3.068671
std,10534.642303,1.950673,194.503544,2.339243,3141.262453,1.087812e+05,3113.078782,3424.463530,0.030848,0.035893,4.436807e+06,43 days 03:22:28.288025,51 days 12:43:00.142051,3.727348e+06,0.727343,1.536254
min,0.000000,0.000000,101.000000,1.000000,100.000000,6.155556e+06,390147.000000,127300.000000,38.813470,-77.113640,-7.740000e+04,-93 days +01:05:00,-1 days +02:30:00,-8.031300e+06,1.000000,1.000000
25%,9123.000000,2.000000,206.000000,2.000000,3500.000000,1.505885e+07,397228.000000,136027.000000,38.892080,-77.031960,3.600000e+02,0 days 00:15:00,0 days 00:06:00,9.000000e+02,1.000000,2.000000
50%,18246.000000,4.000000,401.000000,5.000000,7000.000000,1.511063e+07,398878.000000,137622.530000,38.906460,-77.012930,3.000000e+03,0 days 01:05:00,0 days 00:51:00,3.900000e+03,2.000000,3.000000
75%,27369.000000,5.000000,506.000000,6.000000,8904.000000,1.516497e+07,401257.000000,139839.000000,38.926420,-76.985510,2.520000e+04,0 days 03:22:00,0 days 07:00:00,1.212000e+04,2.000000,4.000000
max,36492.000000,7.000000,708.000000,8.000000,11100.000000,1.619697e+07,407806.000000,147292.000000,38.993560,-76.910020,4.733352e+08,6385 days 20:01:00,5478 days 10:00:00,5.517361e+08,3.000000,7.000000

In [137]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 33 columns):
true                        255451 non-null int64
REPORT_DAT                  255451 non-null object
SHIFT                       255451 non-null object
OFFENSE                     255451 non-null object
METHOD                      255451 non-null object
BLOCK                       255451 non-null object
DISTRICT                    255451 non-null float64
PSA                         255451 non-null float64
WARD                        255451 non-null int64
ANC                         255451 non-null object
NEIGHBORHOOD_CLUSTER        255451 non-null object
BLOCK_GROUP                 254653 non-null object
CENSUS_TRACT                255451 non-null float64
VOTING_PRECINCT             255451 non-null object
CCN                         255451 non-null int64
XBLOCK                      255451 non-null float64
YBLOCK                      255451 non-null float64
START_DATE                  255451 non-null object
END_DATE                    253687 non-null object
Lat                         255451 non-null float64
Long                        255451 non-null float64
REPORT_DAT_FORMAT           255451 non-null datetime64[ns]
END_DATE_FORMAT             253687 non-null datetime64[ns]
START_DATE_FORMAT           255451 non-null datetime64[ns]
CRIMETIME                   255451 non-null float64
INVESTIGATION_TIME          255451 non-null timedelta64[ns]
CRIMETIME_REP               253687 non-null timedelta64[ns]
INVESTIGATION_TIME_MIN      255451 non-null float64
SHIFT_NUM                   255451 non-null int64
BLOCK_NUM                   255451 non-null object
ANC_NUM                     255451 non-null int64
NEIGHBORHOOD_CLUSTER_NUM    255451 non-null object
VOTING_PRECINCT_NUM         255451 non-null object
dtypes: datetime64[ns](3), float64(9), int64(5), object(14), timedelta64[ns](2)
memory usage: 64.3+ MB

In [138]:
dfsql['NEIGHBORHOOD_CLUSTER_NUM']

0            3
1            2
2            2
3            3
4            2
5            3
6            2
7            2
8            3
9            2
10           2
11           3
12           2
13           1
14           2
15           1
16           2
17           1
18           2
19           3
20           2
21           2
22           2
23           3
24           2
25           1
26           1
27           2
28           2
29           2
          ...
255421      39
255422      37
255423      39
255424      39
255425      39
255426      37
255427      38
255428      34
255429      37
255430      28
255431      37
255432      37
255433      28
255434      39
255435      37
255436      39
255437      38
255438      37
255439      39
255440      38
255441      34
255442      37
255443      39
255444      36
255445       0
255446      36
255447      36
255448      38
255449       0
255450      39
Name: NEIGHBORHOOD_CLUSTER_NUM, dtype: object

In [139]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 33 columns):
true                        255451 non-null int64
REPORT_DAT                  255451 non-null object
SHIFT                       255451 non-null object
OFFENSE                     255451 non-null object
METHOD                      255451 non-null object
BLOCK                       255451 non-null object
DISTRICT                    255451 non-null float64
PSA                         255451 non-null float64
WARD                        255451 non-null int64
ANC                         255451 non-null object
NEIGHBORHOOD_CLUSTER        255451 non-null object
BLOCK_GROUP                 254653 non-null object
CENSUS_TRACT                255451 non-null float64
VOTING_PRECINCT             255451 non-null object
CCN                         255451 non-null int64
XBLOCK                      255451 non-null float64
YBLOCK                      255451 non-null float64
START_DATE                  255451 non-null object
END_DATE                    253687 non-null object
Lat                         255451 non-null float64
Long                        255451 non-null float64
REPORT_DAT_FORMAT           255451 non-null datetime64[ns]
END_DATE_FORMAT             253687 non-null datetime64[ns]
START_DATE_FORMAT           255451 non-null datetime64[ns]
CRIMETIME                   255451 non-null float64
INVESTIGATION_TIME          255451 non-null timedelta64[ns]
CRIMETIME_REP               253687 non-null timedelta64[ns]
INVESTIGATION_TIME_MIN      255451 non-null float64
SHIFT_NUM                   255451 non-null int64
BLOCK_NUM                   255451 non-null object
ANC_NUM                     255451 non-null int64
NEIGHBORHOOD_CLUSTER_NUM    255451 non-null object
VOTING_PRECINCT_NUM         255451 non-null object
dtypes: datetime64[ns](3), float64(9), int64(5), object(14), timedelta64[ns](2)
memory usage: 64.3+ MB

In [141]:
dfsql['VOTING_PRECINCT_NUM'] = dfsql['VOTING_PRECINCT_NUM'].astype('float64', raise_on_error = False)

In [142]:
dfsql['NEIGHBORHOOD_CLUSTER_NUM'] = dfsql['NEIGHBORHOOD_CLUSTER_NUM'].astype('float64', raise_on_error = False)

In [143]:
dfsql.describe()

,true,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,Lat,Long,CRIMETIME,INVESTIGATION_TIME,CRIMETIME_REP,INVESTIGATION_TIME_MIN,SHIFT_NUM,ANC_NUM,NEIGHBORHOOD_CLUSTER_NUM,VOTING_PRECINCT_NUM
count,255451.000000,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000,2.554510e+05,255451,253687,2.554510e+05,255451.000000,255451.000000,255451.000000,255451.000000
mean,18246.000000,3.692434,374.061245,4.421259,6211.274929,1.511937e+07,399301.346694,137698.576414,38.907140,-77.008062,1.820633e+05,1 days 18:06:48.379141,2 days 02:55:29.244226,1.516084e+05,1.817965,3.068671,17.584331,70.066479
std,10534.642303,1.950673,194.503544,2.339243,3141.262453,1.087812e+05,3113.078782,3424.463530,0.030848,0.035893,4.436807e+06,43 days 03:22:28.288025,51 days 12:43:00.142051,3.727348e+06,0.727343,1.536254,11.862353,41.974490
min,0.000000,0.000000,101.000000,1.000000,100.000000,6.155556e+06,390147.000000,127300.000000,38.813470,-77.113640,-7.740000e+04,-93 days +01:05:00,-1 days +02:30:00,-8.031300e+06,1.000000,1.000000,0.000000,0.000000
25%,9123.000000,2.000000,206.000000,2.000000,3500.000000,1.505885e+07,397228.000000,136027.000000,38.892080,-77.031960,3.600000e+02,0 days 00:15:00,0 days 00:06:00,9.000000e+02,1.000000,2.000000,6.000000,33.000000
50%,18246.000000,4.000000,401.000000,5.000000,7000.000000,1.511063e+07,398878.000000,137622.530000,38.906460,-77.012930,3.000000e+03,0 days 01:05:00,0 days 00:51:00,3.900000e+03,2.000000,3.000000,18.000000,72.000000
75%,27369.000000,5.000000,506.000000,6.000000,8904.000000,1.516497e+07,401257.000000,139839.000000,38.926420,-76.985510,2.520000e+04,0 days 03:22:00,0 days 07:00:00,1.212000e+04,2.000000,4.000000,26.000000,106.000000
max,36492.000000,7.000000,708.000000,8.000000,11100.000000,1.619697e+07,407806.000000,147292.000000,38.993560,-76.910020,4.733352e+08,6385 days 20:01:00,5478 days 10:00:00,5.517361e+08,3.000000,7.000000,39.000000,143.000000

In [157]:
dfsql.to_csv('/Users/muraliparthasarathy/Documents/DataMining/lab1/MSDS7331_Project_DC/data/MuraliDataClean.csv')

In [159]:
con = sl.connect('/Users/muraliparthasarathy/Documents/DataMining/dcCrimeDatacleanedv1.db');
dfsql.to_sql('dcCrimeDatacleanv2',con);

In [146]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 33 columns):
true                        255451 non-null int64
REPORT_DAT                  255451 non-null object
SHIFT                       255451 non-null object
OFFENSE                     255451 non-null object
METHOD                      255451 non-null object
BLOCK                       255451 non-null object
DISTRICT                    255451 non-null float64
PSA                         255451 non-null float64
WARD                        255451 non-null int64
ANC                         255451 non-null object
NEIGHBORHOOD_CLUSTER        255451 non-null object
BLOCK_GROUP                 254653 non-null object
CENSUS_TRACT                255451 non-null float64
VOTING_PRECINCT             255451 non-null object
CCN                         255451 non-null int64
XBLOCK                      255451 non-null float64
YBLOCK                      255451 non-null float64
START_DATE                  255451 non-null object
END_DATE                    253687 non-null object
Lat                         255451 non-null float64
Long                        255451 non-null float64
REPORT_DAT_FORMAT           255451 non-null datetime64[ns]
END_DATE_FORMAT             253687 non-null datetime64[ns]
START_DATE_FORMAT           255451 non-null datetime64[ns]
CRIMETIME                   255451 non-null float64
INVESTIGATION_TIME          255451 non-null timedelta64[ns]
CRIMETIME_REP               253687 non-null timedelta64[ns]
INVESTIGATION_TIME_MIN      255451 non-null float64
SHIFT_NUM                   255451 non-null int64
BLOCK_NUM                   255451 non-null object
ANC_NUM                     255451 non-null int64
NEIGHBORHOOD_CLUSTER_NUM    255451 non-null float64
VOTING_PRECINCT_NUM         255451 non-null float64
dtypes: datetime64[ns](3), float64(11), int64(5), object(12), timedelta64[ns](2)
memory usage: 64.3+ MB

In [148]:
dfsql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255451 entries, 0 to 255450
Data columns (total 38 columns):
true                        255451 non-null int64
REPORT_DAT                  255451 non-null object
SHIFT                       255451 non-null object
OFFENSE                     255451 non-null object
METHOD                      255451 non-null object
BLOCK                       255451 non-null object
DISTRICT                    255451 non-null float64
PSA                         255451 non-null float64
WARD                        255451 non-null int64
ANC                         255451 non-null object
NEIGHBORHOOD_CLUSTER        255451 non-null object
BLOCK_GROUP                 254653 non-null object
CENSUS_TRACT                255451 non-null float64
VOTING_PRECINCT             255451 non-null object
CCN                         255451 non-null int64
XBLOCK                      255451 non-null float64
YBLOCK                      255451 non-null float64
START_DATE                  255451 non-null object
END_DATE                    253687 non-null object
Lat                         255451 non-null float64
Long                        255451 non-null float64
REPORT_DAT_FORMAT           255451 non-null datetime64[ns]
END_DATE_FORMAT             253687 non-null datetime64[ns]
START_DATE_FORMAT           255451 non-null datetime64[ns]
CRIMETIME                   255451 non-null float64
INVESTIGATION_TIME          255451 non-null timedelta64[ns]
CRIMETIME_REP               253687 non-null timedelta64[ns]
INVESTIGATION_TIME_MIN      255451 non-null float64
SHIFT_NUM                   255451 non-null int64
BLOCK_NUM                   255451 non-null object
ANC_NUM                     255451 non-null int64
NEIGHBORHOOD_CLUSTER_NUM    255451 non-null float64
VOTING_PRECINCT_NUM         255451 non-null float64
REPORT_Month                255451 non-null object
REPORT_Day                  255451 non-null object
REPORT_Year                 255451 non-null object
REPORT_Hour                 255451 non-null object
REPORT_MINUTES              255451 non-null object
dtypes: datetime64[ns](3), float64(11), int64(5), object(17), timedelta64[ns](2)
memory usage: 74.1+ MB

In [152]:
dfsql['REPORT_Month'] = dfsql['REPORT_Month'].astype('float64', raise_on_error = False)

In [153]:
dfsql['REPORT_Day'] = dfsql['REPORT_Day'].astype('float64', raise_on_error = False)

In [154]:
dfsql['REPORT_Year'] = dfsql['REPORT_Year'].astype('float64', raise_on_error = False)

In [155]:
dfsql['REPORT_Hour'] = dfsql['REPORT_Hour'].astype('float64', raise_on_error = False)

In [156]:
dfsql['REPORT_MINUTES'] = dfsql['REPORT_MINUTES'].astype('float64', raise_on_error = False)

In [162]:
import seaborn as sns
sns.set_style("whitegrid")